
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background: transparent none no-repeat left top; background-size: cover; }
#wb_main { height: 650px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none no-repeat left top; background-size: cover; }
#wb_footer { height: 50px; }
#wb_footer > .wb_cont_bg { background: transparent none no-repeat left top; background-size: cover; }
body { background: #32383d none repeat scroll center top; background-size: cover; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 320px; min-height: 800px; }
.wb_cont_inner { width: 320px; height: 100%; }
.wb_cont_bg { width: 320px; margin-left: -160px; }
.root { height: 750px; overflow: hidden; min-height: 800px; }
#wb_element_instance0 p:last-child { margin-bottom: 0; }
#wb_element_instance0 { top: 330px; left: 45px; min-width: 230px; width: 230px; min-height: 72px; height: 72px; display: block; z-index: 329; }
#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance1 { top: 430px; left: 0px; min-width: 320px; width: 320px; min-height: 36px; height: 36px; display: block; z-index: 330; }
#wb_element_instance2 i { position: absolute; left: 0px; top: 0px; text-align: center; width: 50px; height: 50px; font-size: 50px; }
#wb_element_instance2 { top: 500px; left: 170px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; z-index: 331; }
#wb_element_instance3 i { position: absolute; left: 0px; top: 0px; text-align: center; width: 50px; height: 50px; font-size: 50px; }
#wb_element_instance3 { top: 500px; left: 240px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; z-index: 332; }
#wb_element_instance4 { top: 0px; left: 10px; min-width: 300px; width: 300px; min-height: 300px; height: 300px; display: block; z-index: 259; }
#wb_element_instance4 img { width: 300px; height: 300px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance5 { top: 497px; left: 30px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; z-index: 339; }
#wb_element_instance5 img { width: 50px; height: 50px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance6 i { position: absolute; left: 0px; top: 0px; text-align: center; width: 50px; height: 50px; font-size: 50px; }
#wb_element_instance6 { top: 500px; left: 100px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; z-index: 338; }
#wb_element_instance7 { top: 570px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance8 { top: 20px; left: 0px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 100px; }
	#wb_main { height: 630px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 768px; min-height: 780px; }
	.wb_cont_inner { width: 768px; }
	.wb_cont_bg { width: 768px; margin-left: -384px; }
	.root { height: 730px; overflow: visible; min-height: 780px; }
	#wb_element_instance0 { top: 330px; left: 179px; min-width: 410px; width: 410px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance1 { top: 400px; left: 142px; min-width: 484px; width: 484px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance2 i { width: 50px; height: 50px; font-size: 50px; }
	#wb_element_instance2 { top: 480px; left: 400px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance3 i { width: 50px; height: 50px; font-size: 50px; }
	#wb_element_instance3 { top: 480px; left: 480px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance4 { top: 0px; left: 234px; min-width: 300px; width: 300px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance4 img { width: 300px; height: 300px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { top: 476px; left: 240px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance5 img { width: 50px; height: 50px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 i { width: 50px; height: 50px; font-size: 50px; }
	#wb_element_instance6 { top: 480px; left: 320px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance7 { top: 570px; left: 0px; display: block; }
	#wb_element_instance8 { top: 20px; left: 0px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 100px; }
	#wb_main { height: 660px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 992px; min-height: 810px; }
	.wb_cont_inner { width: 992px; }
	.wb_cont_bg { width: 992px; margin-left: -496px; }
	.root { height: 760px; overflow: visible; min-height: 810px; }
	#wb_element_instance0 { top: 330px; left: 236px; min-width: 520px; width: 520px; min-height: 59px; height: 59px; display: block; }
	#wb_element_instance1 { top: 420px; left: 210px; min-width: 586px; width: 586px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 i { width: 50px; height: 50px; font-size: 50px; }
	#wb_element_instance2 { top: 510px; left: 510px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance3 i { width: 50px; height: 50px; font-size: 50px; }
	#wb_element_instance3 { top: 510px; left: 600px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance4 { top: 0px; left: 346px; min-width: 300px; width: 300px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance4 img { width: 300px; height: 300px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { top: 506px; left: 330px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance5 img { width: 50px; height: 50px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 i { width: 50px; height: 50px; font-size: 50px; }
	#wb_element_instance6 { top: 510px; left: 420px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance7 { top: 570px; left: 0px; display: block; }
	#wb_element_instance8 { top: 20px; left: 0px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 80px; }
	#wb_main { height: 670px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 1200px; min-height: 800px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 750px; overflow: visible; min-height: 800px; }
	#wb_element_instance0 { top: 330px; left: 345px; min-width: 510px; width: 510px; min-height: 59px; height: 59px; display: block; }
	#wb_element_instance1 { top: 420px; left: 290px; min-width: 620px; width: 620px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance2 i { width: 50px; height: 50px; font-size: 50px; }
	#wb_element_instance2 { top: 520px; left: 620px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance3 i { width: 50px; height: 50px; font-size: 50px; }
	#wb_element_instance3 { top: 520px; left: 710px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance4 { top: 0px; left: 450px; min-width: 300px; width: 300px; min-height: 300px; height: 300px; display: block; }
	#wb_element_instance4 img { width: 300px; height: 300px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { top: 517px; left: 440px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance5 img { width: 50px; height: 50px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 i { width: 50px; height: 50px; font-size: 50px; }
	#wb_element_instance6 { top: 520px; left: 530px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance7 { top: 570px; left: 0px; display: block; }
	#wb_element_instance8 { top: 20px; left: 0px; display: block; }
}

@media (max-width: 767px) {
}
